{% extends "base.html" %}
{% load static %}

{% block 'body' %}
{% comment %} <div class="portfolio-page portfolio-section section page">
    <div class="container">
        <div class="section-content">
            <ul class="portfolio-items has-works">
                <li>
                    <div class="text-box-block">
                        <span class="subtitle">
                            <a href="archive-portfolio.html?tax=cat&amp;cat=HTML">HTML</a>
                        </span>
                        <h2>Lorem Ipsum Dolor 16</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <ul class="work-tools">
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=HTML">HTML</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=Slim">Slim</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=CSS">CSS</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=Less">Less</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=JavaScript">JavaScript</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=TypeScript">TypeScript</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=Bootstrap">Bootstrap</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=AJAX">AJAX</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=Vue">Vue</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=NodeJs">NodeJs</a>
                            </li>
                            <li>
                                <a href="archive-portfolio.html?tax=tools&amp;tools=MongoDB">MongoDB</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> {% endcomment %}
               
                
                
<div id="portfolio" class="portfolio-section section" tabindex="-1">
    <div class="container">
      <div class="section-content">

        <!-- portfolio items -->
        <ul class="portfolio-items has-works" ref="portfolioItems" data-no-works-msg="No works to load">
          <li>
            <!-- text box -->
            <div class="text-box-inline">
              <span class="subtitle">my blogs</span>
              <h2>
                Explore our blog for insights into our development process,
                <br>
                Emphasizing durability and user-friendliness in every project
              </h2>
              <p>
                In this blog, I will share some of the experiences I have gained during my learning journey. I will showcase insights into my personal growth and development, highlighting the valuable lessons acquired along the way. Join me as I delve into the challenges, successes, and continuous learning that have shaped my skills and expertise.
              </p>
              
            </div>
          </li>
        
          <!-- start items list -->
        {% for blog in blogs %}
            <li class="portfolio-item"
                
                >
                <a href='{{blog.slug}}' :href="work.url" target="_blank" rel="noopener">
                <div class="item-img">
                    <img 
                    src='{{blog.image.url}}'>
                </div>
                <div class="item-details">
                    <h3 class="title">{{ blog.title }}</h3>
                    <div class="date">{{ blog.created_at.date }}</div>
                </div>
                </a>
            </li>
        {% endfor %}
          <!-- end items list -->
        
          {% comment %} <li>
            <button class="more" @click="getPortfolioItems">Load more works</button>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>

                
{% endblock 'body' %}