{% extends "base.html" %}
{% load static %}

{% block 'body' %}
    <div id="contact" class="contact-section section" tabindex="-1">
    <div class="container">
      <div class="section-content row">

        <!-- text box -->
        <div class="contact-text col-lg-6">
          <div class="text-box-inline">
            <span class="subtitle">contact</span>
            <h2>
              Have You Any Project?
              <br>
              Please Drop a Message
            </h2>
            <p>
              Get in touch and let me know how i can help. Fill out the form and i’ll be in touch as soon as possible.
            </p>
          </div>

          <!-- contact info -->
          <ul class="contact-info">
            <li>
              <img src="{%static 'assets/images/icons/address.png' %}" alt="Address">
              <div>
                <strong>Address:</strong>
                {{about.address}}
              </div>
            </li>
            <li>
              <img src="{%static 'assets/images/icons/phone.png' %}" alt="Phone">
              <div>
                <strong>Phone:</strong>
                <ul>
                  <li><a href="tel:02966202290" class="ltr-dir">(20) {{about.phone_number}}</a></li>
                  <li><a href="tel:02966202291" class="ltr-dir">(20) {{about.phone_number_2}}</a></li>
                </ul>
              </div>
            </li>
            <li>
              <img src="{%static 'assets/images/icons/email.png' %}" alt="Email">
              <div>
                <strong>Email:</strong>
                <ul>
                  <li><a href="mailto:info@nafie.com">{{about.email}}</a></li>
                  {% comment %} <li><a href="mailto:support@nafie.com">support@nafie.com</a></li> {% endcomment %}
                </ul>
              </div>
            </li>
          </ul>

          <!-- social links -->
          <ul class="social">
            <li>
              <a href="{{about.facebook_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'Facebook', dir: 'top'}">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="{{about.github_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'Githup', dir: 'top'}">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="{{about.linkedin_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'LinkedIn', dir: 'top'}">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              {% comment %} <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'YouTube', dir: 'top'}">
                <i class="fa fa-youtube-play" aria-hidden="true"></i> {% endcomment %}
              </a>
            </li>
          </ul>
        </div>
        
        <!-- contact form -->
        <div class="col-lg-6">
          <form ref="contactForm"
            method="POST"
            class="contact-form form-styled"
            action=""
            data-success-msg="Message sent successfully!"
            data-err-msg="Oops! something went wrong, please try again.">
            {% csrf_token %}
            <div class="group">
              <label>Name</label>
              <div class="control has-prefix-icon">
                <input type="text"
                  name="name"
                  placeholder="e.g. John Doe"
                  minlength="3"
                  required>
                <i class="fa fa-user-circle prefix-icon" aria-hidden="true"></i>

                <!-- validation errors messages -->
                <div class="errors-msgs">
                  <input class="required" type="hidden" value="Name is required">
                  <input class="minLength" type="hidden" value="Name must be at least 3 characters">
                </div>
              </div>
            </div>
            <div class="group">
              <label>Email</label>
              <div class="control has-prefix-icon">
                <input class="ltr-dir"
                  type="email"
                  inputmode="email"
                  name="email2"
                  placeholder="e.g. john.doe@gmail.com"
                  >
                <i class="fa fa-envelope prefix-icon" aria-hidden="true"></i>

                <!-- validation errors messages -->
                <div class="errors-msgs">
                  <input class="required" type="hidden" name="email" value="Email is required">
                  <input class="invalid" type="hidden" name="email" value="Please enter a valid email address">
                </div>
              </div>
            </div>
            <div class="group phone-number">
              <label>Phone <span class="optional">(Optional)</span></label>
              <div class="control has-prefix-icon">
                <input type="tel"
                  inputmode="tel"
                  name="phone"
                  placeholder="Phone Number">
                <i class="fa fa-phone prefix-icon" aria-hidden="true"></i>

                <!-- validation errors messages -->
                <div class="errors-msgs">
                  <input class="invalid" type="hidden" value="Please enter a valid Phone Number">
                </div>
              </div>
            </div>
            <div class="group">
              <label >Message</label>
              <div class="control has-prefix-icon">
                
                <textarea name="message2" placeholder="Write message..." required></textarea>
                <i class="fa fa-comments prefix-icon" aria-hidden="true"></i>

                <!-- validation errors messages -->
                <div class="errors-msgs">
                  <input class="required" type="hidden" name= 'message'>
                </div>
              </div>
            </div>
            <div class="group">
              <div class="control">
                <button class="submit-btn btn btn-dark" type="submit" @click="contactFormValidation">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock 'body' %}