{% extends "base.html" %}
{% load static %}

      {% block 'body'  %}
      
      {% include "messages.html" %}
        <!-- start of hero section -->
        <div id="hero"
          class="hero-section hide-in-preloading"
          data-paneffect="true"
          ref="heroSection">
          <div class="hero-img">
            <div class="layer" v-clone>
              <img src="{{my_portfolio.main_image.url}}" alt="User Name">
            </div>
          </div>

           <div class="hero-text">
             {% comment %} <h2>
              We Design & Build
              <br>
              Creative Products
            </h2>  {% endcomment %}
            <a href="{%url 'portfolio:contact' %}" class="btn">Get In Touch</a>
          </div> 

          <div class="social">
            <ul>
              <li>
                <a href="{{about.facebook_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'Facebook', dir: 'right'}">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="{{about.github_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'Githup', dir: 'right'}">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="{{about.linkedin_link}}" target="_blank" rel="noreferrer" v-tooltip="{text: 'LinkedIn', dir: 'right'}">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="scroll-down">
            <a href="#about" title="Scroll Down">Scroll</a>
          </div>
        </div>
        <!-- end of hero section -->

        <!-- start of statistics section -->
        <div id="statistics" class="statistics-section section">
          <div class="section-content">
            <div class="container">
              <ul class="statistics-items row">
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="#experience">
                    <div class="icon">
                      <img src="{%static 'assets/images/icons/emblem.png' %}" alt="Years of Experience">
                    </div>
                    <div class="text">
                      <h3>{{ about.years_of_experience }}+</h3>
                      <strong>Years of Experience</strong>
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="{%url 'portfolio:projects' %}">
                    <div class="icon">
                      <img src="{%static 'assets/images/icons/check-mark.png' %}" alt="Completed Projects">
                    </div>
                    <div class="text">
                      {% if length > 0 %}
                      <h3>{{length}}+</h3>
                      {% else %}
                      <h4>i don't have any projects</h4>
                      {% endif %}
                      <strong>Completed Projects</strong>
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="#testimonials">
                    <div class="icon">
                      <img src="{%static 'assets/images/icons/happy.png' %}" alt="Happy Clients">
                    </div>
                    <div class="text">
                      {% if length_colleague > 0 %}
                      <h3>{{length_colleague}}+</h3>
                      <strong>Happy Clients</strong>
                      {% else %}
                      <h4> Be the first to comment </h4> 
                      {% endif %}
                      
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of statistics section -->

        <!-- start of about section -->
        
        <div id="about" class="about-section section" tabindex="-1" ref="aboutSection">
          <div class="container">
            <div class="section-content row">
              <!-- about image -->
              <div class="about-img col-lg-6">
                <div class="layer" v-clone>
                  <img src="{{about.personal_picture.url}}" alt="User Name">
                </div>
              </div>

              <!-- text box -->
              <div class="about-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">about me</span>
                  <h2>
                    Need a Creative Product?
                    <br>
                    I can Help You!
                  </h2>
                  <p>
                   {{about.bio}}
                  </p>
                  <div class="btns-container">
                    <a href="{%url 'portfolio:contact'%}" class="btn btn-primary">Hire Me</a>
                    <a href="{%url 'portfolio:download' %}" class="btn btn-outline-light">Download CV</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of about section -->

        <!-- start of skills section -->
        <div id="skills" class="skills-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- text box -->
              <div class="skills-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">my skills</span>
                  <h2>
                    What My Programming
                    <br>
                    Skills Included?
                  </h2>
                  <p>
                    {{my_portfolio.skills_bio}}.
                  </p>
                  <div ref="skillsSwitchBtn" class="toggle-switch-btn">
                    <input id="skills-list" type="radio" value="skills" v-model="skillsType" checked>
                    <label for="skills-list" class="link-hover">Skills</label>
                    <input id="tools-list" type="radio" value="tools" v-model="skillsType">
                    <label for="tools-list" class="link-hover">Tools</label>
                    <span class="switcher-toggle" style="width: calc((100% - 8px) / 2);"></span>
                  </div>
                </div>
              </div>

              <!-- skills items -->
              
              <div class="skills-items col-lg-6">

                <!-- skills list -->
                
                <ul v-staggerdelay="50" v-show="skillsType === 'skills'" >
                  {% for skill in skills %}
                  <li tabindex="0"
                    key="{{skill.name}}"
                    v-tooltip="{text:'{{skill.name}}', dir: 'top'}">
                    <div class="skill-icon">
                      <img src="{{skill.icon.url}}" alt="{{skill.name}}">
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                
                <!-- tools list -->
                <ul v-staggerdelay="50" v-show="skillsType === 'tools'">
                  {% for tool in tools %}
                  <li tabindex="0"
                    key="{{tool.name}}"
                    v-tooltip="{text: '{{tool.name}}', dir: 'top'}">
                    <div class="skill-icon">
                      <img src="{{tool.icon.url}}" alt="{{tool.name}}"><a href="#"></a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end of skills section -->

        <!-- start of experience section -->
        {% comment %} <div id="experience" class="experience-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- timeline -->
              <div class="col-lg-6">
                <div class="experience-timeline">
                  <div class="timepath" ref="experienceTimepath">
                    <span class="line"></span>
                    <template v-for="line in experienceChunks">
                      <span class="semicircle"></span>
                      <span class="line"></span>
                    </template>
                  </div>

                  <ul class="timeline-items">
                    <li class="has-ultimate-tooltip" tabindex="0" v-for="item in experienceItems">
                      <template v-if="Object.keys(item).length > 0">
                        <h3>1</h3>
                        <div class="ultimate-tooltip">
                          <h4 class="ultimate-tooltip-title">{{ item.companyName.en }}</h4>
                          <h5 class="ultimate-tooltip-subtitle">{{ item.jobTitle.en }}</h5>
                          <p>{{ item.desc.en }}</p>
                        </div>
                        <div class="ultimate-tooltip-arrow"></div>
                      </template>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- text box -->
              <div class="experience-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">experience</span>
                  <h2>
                    {{ experienceYears }}+ Years of Experience
                    <br>
                    With Many Awards!
                  </h2>
                  <p>
                    {{my_portfolio.experience_bio}}.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        <!-- end of experience section -->

        <!-- start of portfolio section -->
        <div id="portfolio" class="portfolio-section section" tabindex="-1">
          <div class="container">
            <div class="section-content">

              <!-- portfolio items -->
              <ul class="portfolio-items has-works" ref="portfolioItems" data-no-works-msg="No works to load">
                <li>
                  <!-- text box -->
                  <div class="text-box-inline">
                    <span class="subtitle">my works</span>
                    <h2>
                      See My Works Which
                      <br>
                      Will Amaze You!
                    </h2>
                    <p>
                      We develop the best quality website that serves for the long-term. Well-documented, clean, easy and elegant interface helps any non-technical clients.
                    </p>
                    
                  </div>
                </li>

                <!-- start items list -->
                {% for course in courses %}
                <li class="portfolio-item"
                  
                  key="{{course.title}}">
                  <a href="work.url" target="_blank" rel="noopener">
                    <div class="item-img">
                      <img src="{{course.course_image.url}}" alt="work.title.en">
                    </div>
                    <div class="item-details">
                      <h3 class="title">{{ course.title }}</h3>
                      <div class="date">{{ course.start_date.date}}</div>
                    </div>
                  </a>
                </li>
                {% endfor %}
                <!-- end items list -->

                {% comment %} <li>
                  <button class="more" @click="getPortfolioItems">Load more works</button>
                </li> {% endcomment %}
              </ul>
            </div>
          </div>
        </div>
        <!-- end of portfolio section -->

        <!-- start of testimonials section -->
        <div id="testimonials" class="testimonials-section section" tabindex="-1" ref="testimonialsSection">
          <div class="container">
            <div class="section-title">
              <span class="subtitle">testimonials</span>
              <h2 class="title">
                Check What's My Clients
                <br>
                Say About Me
              </h2>
            </div>
          </div>
          {% if colleague %}
              <div class="container">
                <div class="section-title">
                  <h2 class="title">
                  {{colleague}}
                  
                  </h2>
                </div>
              </div>
          {% else %}
          <div class="section-content">
            <ul class="testimonials-items" v-staggerdelay="500">
              {% for colleague in colleagues  %}
              <li class="has-ultimate-tooltip"
                tabindex="0">
                <div class="testimonials-item">
                  <div class="testimonial-author-img">
                    <img src="{{colleague.image.url}}" alt="">
                  </div>
                  <div class="ultimate-tooltip">
                    <p>{{ colleague.comment }}</p>
                    <h4 class="ultimate-tooltip-title">{{ colleague.name }}</h4>
                    <h5 class="ultimate-tooltip-subtitle">{{ colleague.job_title }}</h5>
                  </div>
                  <div class="ultimate-tooltip-arrow"></div>
                </div>
              </li>
              {% endfor %}
              
            </ul>
          </div>
          {% endif %}
        </div>
        <!-- end of testimonials section -->

        <!-- start of contact section -->
        <div id="contact" class="contact-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">
      
              <!-- text box -->
              <div class="contact-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">testtimonials</span>
                  <h2>
                    Have you worked with me?
                    <br>
                    Please Drop Your recommendation
                  </h2>
                  <p>
                    Get in touch and let me know your opinion about me. Fill out the form and join my small community.
                  </p>
                </div>
      
                <!-- contact info -->
                
      
                <!-- social links -->
                
              </div>
              
              <!-- colleagues form -->
              <div class="col-lg-6">
                <form ref="contactForm"
                  method="POST"
                  class="contact-form form-styled"
                  action=""
                  data-success-msg="Message sent successfully!"
                  data-err-msg="Oops! something went wrong, please try again."
                  enctype='multipart/form-data'>
                  {% csrf_token %}
                  <div class="group">
                    <label>Name</label>
                    <div class="control has-prefix-icon">
                      <input type="text"
                        name="name"
                        placeholder="e.g. John Doe"
                        minlength="3"
                        required>
                      <i class="fa fa-user-circle prefix-icon" aria-hidden="true"></i>
                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Name is required">
                        <input class="minLength" type="hidden" value="Name must be at least 3 characters">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <label>Job Title</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="text"
                        inputmode="text"
                        name="jobtitle"
                        minlength="3"
                        placeholder="john eng"
                        required>
                      <i class="fa fa-user-circle prefix-icon" aria-hidden="true"></i>
                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Job Title is required">
                        <input class="minLength" type="hidden" value="Job Title must be at least 3 characters">
                      </div>
                    </div>
                  </div>
                  <div class="group has-prefix-icon">
                    <label>Workplace</label>
                    <div class="control has-prefix-icon">
                      <input type="text"
                        inputmode="text"
                        name="workplace"
                        minlength="3"
                        placeholder="Workplace"
                        required>
                      <i class="fa fa-building-o prefix-icon" aria-hidden="true"></i>
                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Workplace is required">
                        <input class="minLength" type="hidden" value="Workplace must be at least 3 characters">
                      </div>
                    </div>
                  </div>
                  <div class="group phone-number">
                    <label>Image <span class="optional">(Optional)</span></label>
                    <div class="control has-prefix-icon">
                      <input type="file" name='image' inputmode="image" placeholder="Image" class="shadow-none bg-gray-100">
                    </div>  
                    </div>
                  <div class="group">
                    <label >Your Comment</label>
                    <div class="control has-prefix-icon">
                      
                      <textarea name="comment2" placeholder="Write comment..." required></textarea>
                      <i class="fa fa-comments prefix-icon" aria-hidden="true"></i>
      
                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" name= 'comment'>
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <div class="control">
                      <button class="submit-btn btn btn-dark" type="submit" @click="contactFormValidation">Drop</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end of contact section -->
        {% include 'footer.html' %}
        {% endblock 'body' %}
        