{% extends "base.html" %}
{% load static %}

{% block 'body' %}
<div style="width: 800px;margin:0 auto;">
            <ul class="portfolio-items has-works">
            
                <li>
                    <div class="text-box-block" >
                        
                            <span class="subtitle">
                            
                                <a href="archive-portfolio.html?tax=cat&amp;cat=HTML">HTML</a>
                            </span>
                        
                        <h2>Lorem Ipsum Dolor 16</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a
                            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                             remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                              and more recently with desktop publishing software like Aldus PageMaker including versions 
                              of Lorem Ipsum.</p>
                    </div>
                </li>
            
                <img src='{{blog.image.url}}'>
             
                
</div> 
{% endblock 'body' %}