<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- logo -->
          <div class="logo" title="Nafie">
            <h1><a href="{% url 'portfolio:main' %}">Eslam</a></h1>
          </div>
        </div>
        <div class="col-lg-6">
          &copy; {{ copyrightDate }} Proudly Powered by
          <a href="https://themeforest.net/user/webrouk/portfolio" target="_blank" rel="noopener">Webrouk</a>
        </div>
      </div>
    </div>
  </footer>